<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HTML5 boilerplate – all you really need…</title>
	<link rel="stylesheet" href="css/style.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">

    <h1>Cherry picked puppet and Foreman ENC data</h1>


    <h1>Foreman Facts (Lots of)</h1>
    <pre>
        {%  for ffact, fval in foreman_facts.iteritems() %}
        foreman_facts.{{ ffact}} = {{ fval}}
        {% endfor %}
        </pre>

</body>
</html>